body {
    margin-left: 29%;
    margin-right: 29%;
}

@media screen and (max-width: 768px) {
            body {
                margin-left: 7%;
                margin-right: 7%;
            }
}

img {
    width: 100%
}
